menu "Hardware config"
    config HW_PWM_PIN
        int "Fan speed control PIN (PWM)"
        default 25

    config HW_RPM_PIN
        int "Fan RPM reporting PIN"
        default 26

    config HW_RPM_SAMPLES
        int "Fan RPM samples count"
        default 5
        help
            How many samples are used to smooth the RPM value.
endmenu
